.menucolum {
  margin-top: 100px;
  height: 700px;
}
.imagecolum {
  margin-top: 100px;
  height: 700px;
  background-color: #f00b0b;
  font-size: 38px;
}
.image {
  margin-top: 100px;
}
.title {
  font-weight: bold;
  font-size: 50px;
  margin-top: 300px;
}
.button {
  border-radius: 20px;
}
.buttoncolum {
  margin-left: 10px;
}
.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  color: lightgray;
}
.logo {
  margin-top: 20px;
  border-radius: 20px;
}
.logocolum {
  border: 1px solid black;
}
.navigation {
  border: 1px solid black;
  margin-bottom: -150px;
}
